USE [master]
GO
/****** Object:  Database [GroupsAbDB]    Script Date: 2025-02-27 20:40:52 ******/
CREATE DATABASE [GroupsAbDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GroupsAbDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\GroupsAbDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GroupsAbDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\GroupsAbDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GroupsAbDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GroupsAbDB]
GO
/****** Object:  Table [dbo].[Player]    Script Date: 2025-02-27 20:40:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Player](
	[PlayerID] [int] IDENTITY(1,1) NOT NULL,
	[PersonalNumber] [nvarchar](12) NULL,
	[PlayerName] [nvarchar](50) NOT NULL,
	[Age] [int] NULL,
	[FkTeamID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PlayerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Team]    Script Date: 2025-02-27 20:40:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Team](
	[TeamID] [int] IDENTITY(1,1) NOT NULL,
	[TeamName] [nvarchar](35) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TeamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestTable]    Script Date: 2025-02-27 20:40:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestTable](
	[TestId] [int] IDENTITY(1,1) NOT NULL,
	[PName] [nvarchar](20) NULL,
	[TName] [nvarchar](22) NULL,
PRIMARY KEY CLUSTERED 
(
	[TestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Player] ON 

INSERT [dbo].[Player] ([PlayerID], [PersonalNumber], [PlayerName], [Age], [FkTeamID]) VALUES (1, N'198312041234', N'Maximillian Storm', 40, 1)
INSERT [dbo].[Player] ([PlayerID], [PersonalNumber], [PlayerName], [Age], [FkTeamID]) VALUES (2, N'199106153456', N'Selena Vortex', 33, 1)
INSERT [dbo].[Player] ([PlayerID], [PersonalNumber], [PlayerName], [Age], [FkTeamID]) VALUES (3, N'199802202222', N'Leonidas Frost', 26, 2)
SET IDENTITY_INSERT [dbo].[Player] OFF
GO
SET IDENTITY_INSERT [dbo].[Team] ON 

INSERT [dbo].[Team] ([TeamID], [TeamName]) VALUES (2, N'Azure Titans')
INSERT [dbo].[Team] ([TeamID], [TeamName]) VALUES (1, N'Crimson Falcons')
INSERT [dbo].[Team] ([TeamID], [TeamName]) VALUES (3, N'Emerald Vipers')
SET IDENTITY_INSERT [dbo].[Team] OFF
GO
SET IDENTITY_INSERT [dbo].[TestTable] ON 

INSERT [dbo].[TestTable] ([TestId], [PName], [TName]) VALUES (1, N'PlayerTest1', N'TeamTest1')
INSERT [dbo].[TestTable] ([TestId], [PName], [TName]) VALUES (2, N'Ossamn', N'Frontend')
INSERT [dbo].[TestTable] ([TestId], [PName], [TName]) VALUES (3, N'Test', N'ffoof')
SET IDENTITY_INSERT [dbo].[TestTable] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Team__4E21CAAC280D3B21]    Script Date: 2025-02-27 20:40:52 ******/
ALTER TABLE [dbo].[Team] ADD UNIQUE NONCLUSTERED 
(
	[TeamName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Player]  WITH CHECK ADD FOREIGN KEY([FkTeamID])
REFERENCES [dbo].[Team] ([TeamID])
GO
USE [master]
GO
